# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[*]
end_of_line = lf
insert_final_newline = true
charset = utf-8
trim_trailing_whitespace = true

# Dart and Flutter files
[**.{dart,yaml,yml,json}]
indent_style = space
indent_size = 2

# Markdown files
[**.{md,markdown}]
trim_trailing_whitespace = false

# YAML files - 140 chars per line
[**.{yaml,yml}]
max_line_length = 140

# Dart specific
[**.{dart}]
indent_style = space
indent_size = 2
max_line_length = 140
