$dark-color: #171717;
/* 颜色变量 */
$base-color: #d23b39;
$page-color-base: #f8f8f8;

page {
    --dark-color: #171717;
    --bg-color: #00b762;
    font-family: 'Microsoft YaHei', 'PingFang SC', Helvetica, 'STHeiti STXihei', Tohoma, Arial, sans-serif;
}

