# 腾讯云 TCR 配置
TENCENT_CCR_USERNAME=100010278484
TENCENT_CCR_PASSWORD=Jia05300329
TENCENT_CCR_NAMESPACE=molitao

# 飞书通知配置
FEISHU_WEBHOOK=https://open.feishu.cn/open-apis/bot/v2/hook/4ad95bd6-6014-4b17-84d0-9cda877f0949

# 服务器配置
SERVER_HOST=8.130.178.251
SERVER_PASSWORD=lZ9C&NC3
