:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    /* color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424; */

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.zoom-in {
    @apply transform transition ease-in-out duration-300;
}

.tag_AuctionManager {
    @apply text-white bg-gradient-to-r from-red-500 via-pink-500 to-yellow-500 rounded px-2 text-sm;
}

.tag_Manager {
    @apply text-white bg-gradient-to-r from-blue-500 to-green-500 rounded px-2 text-sm;
}

.tag_Admin {
    @apply text-white bg-dark rounded px-2 text-sm;
}

.tag_payUser {
    @apply text-white bg-green-500 rounded px-2 text-sm;
}

.tag_AudtionUser {
    @apply text-white bg-green-500 rounded px-2 text-sm;
}


@import '@/assets/styles/perfect-scrollbar.css';

.avatar-uploader .avatar {
    width: 178px;
    height: 178px;
    display: block;
}

.avatar-uploader .el-upload {
    border: 1px dashed var(--el-border-color);
    border-radius: 6px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: var(--el-transition-duration-fast);
}

.avatar-uploader .el-upload:hover {
    border-color: var(--el-color-primary);
}

.el-icon.avatar-uploader-icon {
    font-size: 28px;
    color: #8c939d;
    width: 178px;
    height: 178px;
    text-align: center;
}
